/* #bg {
    color: black;
} */

#bg {
	background: url(../assets/planets/background-destination-desktop.jpg),
		#181929;
	background-size: 100vw 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1000;
}
@media (min-width: 30em) {
	#bg {
		background: url(../assets/planets/background-destination-tablet.jpg),
			#181929;
		background-size: 100vw 100vh;
		background-attachment: fixed;
	}
}
@media (min-width: 50em) {
	#bg {
		background: url(../assets/planets/background-destination-desktop.jpg),
			#181929;
		background-size: 100vw 100vh;
		background-attachment: fixed;
	}
}

.main {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	gap: 2rem;
	padding-top: 1.5rem;
	padding-inline: 1.5rem;
	max-height: 60rem;
	width: 100%;
}
.main p {
	padding-top: 5px;
	padding-left: 2px;
	color: #d0d6f9;
	font-family: Barlow;
}
.title {
	text-transform: uppercase;
	letter-spacing: 4.72px;
	font-size: clamp(14px, 2.3vw, 20px);
	font-weight: normal;
	color: #d0d6f9;
	font-family: BarlowCondensed;
}
.title span {
	font-family: "Bellefair";
	font-size: clamp(75px, 20vw, 105px);
	letter-spacing: 0;
	color: white;
	padding-top: 10px;
	display: inline-block;
}