@font-face {
	font-family: Bellefair;
	src: url(Bellefair-Regular.ttf);
  }

  @font-face {
	font-family: Barlow;
	src: url(Barlow-Regular.ttf);
  }

  @font-face {
	font-family: BarlowCondensed;
	src: url(BarlowCondensed-Regular.ttf);
}

.main {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	gap: 2rem;
	padding-top: 1.5rem;
	padding-inline: 1.5rem;
	max-height: 60rem;
	width: 100%;
}
.main p {
	padding-top: 5px;
	padding-left: 2px;
	color: #d0d6f9;
	font-family: Barlow;
}
.title {
	text-transform: uppercase;
	letter-spacing: 4.72px;
	font-size: clamp(14px, 2.3vw, 20px);
	font-weight: normal;
	color: #d0d6f9;
	font-family: BarlowCondensed;
}
.title span {
	font-family: "Bellefair";
	font-size: clamp(75px, 20vw, 105px);
	letter-spacing: 0;
	color: white;
	padding-top: 10px;
	display: inline-block;
}
.exploreBtn {
	display: grid;
	place-items: center;
	width: 12rem;
	height: 12rem;
	background: white;
	border-radius: 100%;
	font-family: "Bellefair";
	text-transform: uppercase;
	font-size: clamp(22px, 4vw, 28px);
	font-weight: bold;
	color: black;
	text-decoration: none;
	position: relative;
	transition: transform 0.2s ease-in-out;
	font-weight: 400;
}
.exploreBtn:hover {
	transform: scale(1.05);
	animation: pulse-animation 1.5s infinite;
}
  
@keyframes pulse-animation {
	0% {
	  box-shadow: 0 0 0 0px white;
	  
	}
	100% {
	  box-shadow: 0 0 0 80px rgba(0, 0, 0, 0);
	}
}

@media (min-width: 30em) {
	.exploreBtn {
		width: 14rem;
		height: 14rem;
	}
	.exploreBtn:hover::after {
		animation: pulse 2s infinite;
	}
	.exploreBtn:hover::before {
		animation: pulse 2s 1s infinite;
	}
	@keyframes pulse {
		0% {
			transform: translate(-50%, -50%) scale(0.95);
			opacity: 1;
		}
		100% {
			transform: translate(-50%, -50%) scale(1.5);
			opacity: 0;
		}
	}
}

@media (min-width: 50em) {
	.main {
		display: block;
		text-align: left;
		gap: 0;
		margin: auto;
		max-width: 94rem;
	}
	.main > div {
		margin-top: 12%;
		margin-left: 8%;
	}
	.exploreBtn {
		position: absolute;
		bottom: 14.5%;
		right: 11.5%;
	}
	.title span {
		padding-top: 23px;
	}
	.main p {
		max-width: 25rem;
	}
}
@media (min-width: 60em) {
	.main > div {
		margin-top: 11%;
		margin-left: 10%;
	}
}
@media (min-width: 87em) {
	.main {
		padding-top: 11px;
	}
	.main > div {
		margin-top: 17%;
		margin-left: 10%;
	}
	.exploreBtn {
		width: 17rem;
		height: 17rem;
	}
	.title {
		font-size: 28px;
	}
	.title span {
		font-size: 150px;
	}
	.main p {
		max-width: 28rem;
		line-height: 35px;
	}
}
#bg {
	background: url(../assets/home/background-home-mobile.jpg), #181929;
	background-size: 100vw 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1000;
}
@media (min-width: 30em) {
	#bg {
		background: url(../assets/home/background-home-tablet.jpg), #181929;
		background-size: 100vw 100vh;
		background-attachment: fixed;
	}
}
@media (min-width: 50em) {
	#bg {
		background: url(../assets/home/background-home-desktop.jpg), #181929;
		background-size: 100vw 100vh;
		background-attachment: fixed;
	}
}